services:
  webapp:
    build:
      context: ./app
    ports:
      - "8080:5000"
    environment:
      MONGO_HOST: mongo
    init: true  # Handle SIGTERM sent by "docker compose down"

  mongo:
    image: "mongo:7.0"
    volumes:
      - ./mongo_bind:/data/db
